/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
  }

  .container {
    width: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .option-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .option-container-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .size-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .size-button {
    font-size: 2rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .option-container-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .color-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .color-button {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .option-container-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }


  .reset-button {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .grid-container {
    width: 700px;
    height: 700px;
    border: 1px solid black;
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
  }

  .grid-container-square {
    border: 1px solid black;
  }

  .grid-container-square-mouseover {
    background-color: #00000050;
  }

  .grid-container-square-mousedown {
    background-color: #000000;
  }